:root {
    --tile-size: 32px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    font-family: monospace;
    color: black;
    overflow: hidden;
    touch-action: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

canvas {
    /*noinspection CssOverwrittenProperties*/
    image-rendering: pixelated;
    /*noinspection CssOverwrittenProperties*/
    image-rendering: crisp-edges;
    /* Deprecated, for older browsers */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
}

canvas#game-bg {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
}

main#game-area {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
    unicode-bidi: isolate;
}

canvas#game {
    display: block;
    aspect-ratio: auto 1;
    overflow-clip-margin: content-box;
    overflow: clip;
}

#game-header.h1 {
    align-content: center;
}

#game-footer {
    align-content: center;
}

#buttons {
    display: flex;
    gap: 12px;
    margin-top: 8px;
}

button {
    padding: 8px 16px;
    font-family: monospace;
    font-size: 14px;
}